.search-progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 774px;
  background-color: #3E3C41;
}

.search-progress-img {
  margin: auto;
  width: 500px;
  height: 500px;
}

.search-progress-line {
  height: 8px;
  background: #FFA800;
}